<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karnety</title>
    <link rel="stylesheet" th:href="@{/style_karnet.css}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Strona główna</a></li>
            <li><a th:href="@{/jak-zaczac}">Jak zacząć</a></li>
            <li><a th:href="@{/karnety}">Karnety</a></li>
            <li th:if="${session.user == null}"><a th:href="@{/login}">Zaloguj się</a></li>
            <li th:if="${session.user != null}"><a th:href="@{/konto}">Moje konto</a></li>
            <li th:if="${session.user != null}"><a th:href="@{/logout}">Wyloguj się</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>KARNETY</h2>

    <section class="karnety">
        <div class="karnet">
            <div class="intro-text">
                <p>Zyskaj nielimitowany dostęp do nowoczesnej siłowni wyposażonej w najwyższej jakości sprzęt. Trenuj w dogodnym dla siebie czasie, rozwijaj swoją siłę, wytrzymałość i poprawiaj formę każdego dnia!</p>
            </div>
            <img th:src="@{/silownia.png}" alt="Siłownia">
            <button th:onclick="|window.location.href='@{/karnety/silownia}'|">Karnety na siłownię</button>
        </div>
        <div class="karnet">
            <div class="intro-text">
                <p>Dołącz do energetycznych zajęć grupowych, prowadzonych przez doświadczonych trenerów. Ciesz się dobrą atmosferą i różnorodnymi treningami, które pomogą Ci osiągnąć Twoje fitnessowe cele!</p>
            </div>
            <img th:src="@{/grupowe.png}" alt="Zajęcia grupowe">
            <button th:onclick="|window.location.href='@{/karnety/grupowe}'|">Karnety na zajęcia grupowe</button>
        </div>
        <div class="karnet">
            <div class="intro-text">
                <p>Postaw na indywidualne podejście i osiągnij wymarzone efekty dzięki personalizowanym treningom. Pracuj pod okiem profesjonalnego trenera, który dostosuje plan ćwiczeń do Twoich potrzeb, celów i możliwości!</p>
            </div>
            <img th:src="@{/indywidualne.png}" alt="Zajęcia indywidualne">
            <button th:onclick="|window.location.href='@{/karnety/indywidualne}'|">Karnety na zajęcia indywidualne</button>
        </div>
    </section>
</main>

<footer>
    <div class="footer-content">
        <div>Godziny otwarcia: 24/7</div>
        <div>
            Kontakt: +48 123 456 789 <br>
            Koszykowa 86, Warszawa
        </div>
    </div>
</footer>
</body>
</html>